dist/
umd/
swift/
**/test/build/**
node_modules
packages/replay-swift/Replay
packages/replay-android/android-library
packages/replay-text-input/ReplayTextInput
dev-game/swift
website/build
website/.docusaurus
